* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Roboto', sans-serif;

}

html {
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;

    padding-bottom: 2rem;

    background-color: hsla(224, 93%, 17%);
}

.page-title {
    position: fixed;
    bottom: 1rem;
    left: 2rem;


    font-size: 2.5rem;
    font-family: var(--font-family);
    color: hsl(0, 0%, 100%, .4);
}

.list-wrapper {
    position: absolute;
    top: 10rem;

    min-width: 32rem;

    display: flex;
    flex-direction: column;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #344FA1 -11.35%, rgba(52, 79, 161, 0) 100%);
    border-radius: 40px;

}

.list-title {
    position: absolute;
    top: -1.5rem;
    left: 2rem;


    font-size: 1.5rem;
    font-family: var(--font-family);
    color: white;

}

.list-body {
    padding-top: 1rem;

    min-width: 25rem;
}

.task-wrapper {
    display: flex;
    flex-direction: column;

}

.task {
    display: flex;
    align-items: center;

    min-height: 2rem;

    margin: .5rem 1.5rem;

    color: white;

}

.task-content {
    min-width: 25rem;

    background-color: hsl(224, 93%, 17%);
    border-radius: 10px;
}

.check-mark {
    margin: .5rem .5rem .5rem .75rem;

    transition: 1s;
}

.task-content__text {
    width: 90%;
    margin: .5rem;
    padding: .25rem;

    font-size: 1rem;
    font-family: var(--font-family);
    letter-spacing: .2rem;

    color: white;
    background-color: hsl(224, 93%, 17%);
    border: none;
    outline: none;



}

/* edit placeholder for inputs using nonstandard selector */

::placeholder {

    font-style: italic;

    color: hsla(0, 0%, 100%, 0.7);
    opacity: 1;
}



.add {
    float: right;
    margin: 2rem;

    text-align: right;

    transition: 1s;

}

.delete {
    float: left;
    margin: 2rem;

    text-align: right;

    transition: 1s;

}

.button img {
    width: 2.5rem;
    height: 2.5rem;

    /* background-size: contain; */
}



/* hover and active */

.button :hover {
    transform: scale(110%);
    cursor: pointer;
}

.button :active {
    transform: scale(90%);
    cursor: pointer;

}



/* task finished */

.task-finished .task-content__text {
    text-decoration: line-through;
    font-weight: 100;

    color: hsl(0, 0%, 100%, 0.5);
}